html
	font-size: 100% /* % for rem; USE rem only for titles and huge texts*/
	overflow-x: hidden

	//	10px	62.50%
	//	11px	68.75%
	//	12px	75.00%
	//	13px	81.25%
	//	14px	87.50%
	//	15px	93.75%
	//
	//	16px	100.0%
	//	17px	106.25%
	//	18px	112.50%
	//	19px	118.75%
	//	20px	125.00%
	// TODO: sfjghskdjfglksdjgh

body
	min-width: 320px
	position: relative
	font-size: 100%
	line-height: 1.6
	font-family: "RobotoRegular", sans-serif
	overflow-x: hidden
	color: #000

.hidden
	display: none

h1, h2, h3, h4, h5, h6, p, ul, li
	padding: 0
	margin: 0

h1
	font-size: rem(50px)
h2
	font-size: rem(30px)
h3
	font-size: rem(24px)
h4
	font-size: rem(20px)
h5
	font-size: rem(18px)
h6
	font-size: rem(10px)

strong, b
	font-family: "RobotoBold", sans-serif

a
	text-decoration: none
	&:hover
		text-decoration: none

ul
	list-style-type: none

//+links(#ccc, green, blue)

section
	margin: 60px 0 60px
	h2
		text-align: center
		margin-bottom: 35px



//Стили модальных окон
$btn-close-size: 35px

.modal_win
	display: none
	position: fixed
	top: 45%
	left: 50%
	opacity: 0
	width: 75vw
	background: #fff
	padding: 40px 35px 50px
	transform: translate(-50%, -50%)
	z-index: 20

	.modal1
		position: relative

	.modal_close
		display: block
		+size($btn-close-size)
		position: absolute
		top: 0px
		right: 0px
		background: red
		text-align: center
		line-height: $btn-close-size
		font-size: 25px
		color: #fff
		cursor: pointer


//подложка
#overlay
	display: none
	+size(100%)
	position: fixed
	top: 0
	left: 0
	background-color: #000
	opacity: 0.8
	cursor: pointer
	z-index: 10
