/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	@import "media/_media1-max1200"


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	@import "media/_media2-max992"


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important
	@import "media/_media3-max768"

/* Extra Small Devices, Phones */
@media only screen and (max-width : 544px)
	@import "media/_media4-max544"


/* Custom, iPhone Retina */
@media only screen and (max-width : 360px)
	@import "media/_media5-max360"


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 360px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 544px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

