@import "bourbon"

/*===== VARIABLES =====*/

$top-line-bg:						#000

$main-color-1:					#3d8b62
$main-color-2:					#3d608b

$trp:										transparent

$ff-regular: 						"RobotoRegular", sans-serif
$ff-light: 							"RobotoLight", sans-serif
$ff-bold: 							"RobotoBold", sans-serif

$ff-font_icons:					"informpay-icons"
